<div class="container-fluid justify-content-center d-grid p-2">

  <span><p><i>Sección de prueba sobre Ang Material Components.</i></p></span>

  <button class="btn btn-secondary"><img src="../../../assets/icons/svg/bxl-angular.svg" alt="Ang Icon"></button>

  <div class="flex-container">
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
    <button mat-icon-button color="primary" aria-label="Icon Btn with vertical three dot">
      <mat-icon>home</mat-icon>
    </button>
  </div>

</div>
