<div class="container-fluid justify-content-center d-grid m-2 p-2">

  Jeremías, el Desarrollador Web FullStack Junior autodidacta a diario que falta
  en tu empresa. :)

  <div class="accordion m-2 p-2" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Quién soy ?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>Brevemente soy...</strong> un Informático, con unos años en computación, manejo fluido en mantenimiento - arreglo de HW o SW. <code>&copy; 2023</code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          En que sector me desenvuelvo actualmente ?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>Desarrollo Web.</strong> de manera cliente-servidor (FullStack) a base de buena variedad de lenguajes en el Frontned y Backend.  <code>&copy; 2023</code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Qué tipo de ambiente de trabajo es el correcto en el área ?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>Compañerismo y enseñarnos mutuamente.</strong> El ambiente es fundamental para sacar todo nuestro potencial transformado en código de calidad. <code>&copy; 2023</code>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="experience">

  </div>

  <hr>

  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Linkedln</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Social media used for find a job</h6>
      <p class="card-text">En el link de abajo encontrarás mi experiencia, habilidades, Másteres completados...</p>
      <a href="https://www.linkedin.com/in/jerem%C3%ADas-fern%C3%A1ndez-1ab01922a/" class="btn btn-danger card-link">Visit me !</a>
    </div>
  </div>

  <hr>

  <div class="row">
    <h2 class="card-title">Frontend: </h2>

    <div class="card col-2" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">(APIs) HTML5 - CSS3</h5>
        <p class="card-text">Texto y estilización</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card col-2" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">Bootstrap | Tailwind CSS</h5>
        <p class="card-text">Framework de CSS a base de componentes</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card col-2" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">JavaScript</h5>
        <p class="card-text">Funcionalidades de todo tipo</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card col-2" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">jQuery / jQuery UI</h5>
        <p class="card-text">Librería de JS para animaciones y variedad de eventos</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card col-2" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">Angular / TypeScript</h5>
        <p class="card-text">Framework bien completo con su lenguaje nativo</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card col-2" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">React - ViteJS</h5>
        <p class="card-text">Librería (para muchos Framework) y un generador de páginas SPA de alto rendimiento.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <h2 class="card-title">Backend: </h2>

    <div class="card" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">NodeJS - ExpressJS - MongoDB</h5>
        <p class="card-text">JavaScript en el servidor con su framework habitual y su respectiva BBDD no relacional Mongo.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">PHP - MySQL</h5>
        <p class="card-text">El histórico lenguaje que compone gran parte de Google y su famosa BBDD relacional con la cual se interactua en el Backend mayormente.</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">Java 13</h5>
        <p class="card-text">Fundamentos + Proyecto</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">

      <img src="" class="card-img-top" alt="">

      <div class="card-body">
        <h5 class="card-title">Git (terminal) - GitHub</h5>
        <p class="card-text">Consola de Comandos y Control de Versiones</p>
        <a href="#" class="btn btn-primary">Ver más</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="ng-material">

    <span><p><i>Sección de prueba sobre Ang Material Components.</i></p></span>

    <button class="btn btn-secondary"><img src="../../../ assets/icons/svg/bxl-angular.svg" alt="Ang Icon">
    </button>

  </div>

</div>
