/* app.component */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background: linear-gradient(
    175deg,
    #6d6d6a 0%,
    #ac9d9d 100%
  ); */
  background-image: url("../img/Entrevista.jpg");
  background-size: cover;
  width: 100%;
  max-width: 1300px;
  min-height: 2400px;
  height: auto;
}
/*
#content {
  border: 1px solid gray;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px #5a5858;
  min-height: 600px;
  height: auto;
  width: 75%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: wheat;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
} */

footer {
  margin: 0 auto;
  color: white;
  padding: 1rem;
}

footer span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  font-weight: bold;
}

/* header */
.header {
  float: left;
}

.clearfix {
  float: none;
  clear: both;
}

.navbar {
  float: right;
  top: 0;
  right: 0;
  width: 99%;
  margin: 0 auto;
  max-height: 300px;
  height: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  cursor: pointer;
}

.navbar ul li:hover {
  transform: scale(1.075);
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -ms-transform: scale(1.075);
  -o-transform: scale(1.075);
}

#logo {
  background: linear-gradient(    180deg,    #3a3937 0%,    #5a5858 100%  );
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  color: white;
  margin: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}

#logo:hover {
  transform: scale(1.150);
  -webkit-transform: scale(1.150);
  -moz-transform: scale(1.150);
  -ms-transform: scale(1.150);
  -o-transform: scale(1.150);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* animacion con css
input {
  /* display: none; } */

/* input:checked + label {
  transform: scale(1.050);
  -webkit-transform: scale(1.050);
  -moz-transform: scale(1.050);
  -ms-transform: scale(1.050);
  -o-transform: scale(1.050);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
} */
/*
input:checked + label {
  transform: translateY(200px) rotate(80deg) scale(2);
  -webkit-transform: translateY(200px) rotate(80deg) scale(2);
  -moz-transform: translateY(200px) rotate(80deg) scale(2);
  -ms-transform: translateY(200px) rotate(80deg) scale(2);
  -o-transform: translateY(200px) rotate(80deg) scale(2);
  -webkit-transform: translateY();
  background-color: blueviolet;
}

.box {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
} */
