<div class="container-fluid d-flex flex-column p-2">

  <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Linkedln</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Social media used for find a job</h6>
      <p class="card-text">En el link de abajo encontrarás mi experiencia, habilidades, Másteres completados...</p>
      <a href="https://www.linkedin.com/in/jerem%C3%ADas-fern%C3%A1ndez-1ab01922a/" class="btn btn-danger card-link">Visit me !</a>
    </div>
  </div>

</div>
