<div class="container-fluid d-flex flex-column p-2">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Linkedln</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Social media to use for find a job</h6>
      <p class="card-text">En el link de abajo encontrarás mi perfil con mi experiencia, habilidades, Másteres completados, etc...</p>
      <a href="#" class="card-link">Visit me !</a>
      <a href="#" class="card-link">Click arriba o nada</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">InfoJobs</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Searcher for jobs</h6>
      <p class="card-text">Mi perfil abajo clickando</p>
      <a href="#" class="card-link">Press and go !</a>
      <a href="#" class="card-link">Nothing</a>
    </div>
  </div>

</div>
