  <div class="container container-fluid navbar_div">
    <nav class="navbar-expand-lg navbar bg-light d-flex flex-column p-2">
      <ul>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
          href="https://github.com/Jeremiias8">
          <img src="../../../assets/icons/svg/bxl-github.svg"
          alt="Mi Github"></a>
        </li>
        <li id="logo"><a class="nav-link" routerLink="">JF</a></li>
      </ul>
    </nav>

    <section id="content">
      <router-outlet></router-outlet>
    </section>

    <footer>
      <span>
        Jeremías | &copy; 2023 | Todos los derechos reservados
      </span>
    </footer>
  </div>

